<%= provide(:title, 'Home') %>

<h1>Sea Battle</h1>
<% if signed_in? %>
    <p style="text-align: center"> What's new? </p>
<% else %>
    <p style="text-align: center">
      Welcome to the Sea Battle app.
      Do you remember the all well-known old game for which you only need a pen, paper, and of course, the opponent?
      You may try it in your browser now!
    </p>
    <p style="text-align: center">Please <%= link_to "Sign In", signin_path %> or <%= link_to "Sign Up.", signup_path %></p>
<% end %>