<table style="margin-left: 10px; margin-top:50px; width:250px;">
  <tr>
    <td>
      <% unless @board.is_ready? || @board.available_ships[0] == 1 %>
          <%= link_to 'Change ship direction', "/direction/#{@board.id}", :class => "btn btn-inverse", :data => { disable_with: "Processing..." }, :style => "display:block; margin-left:auto; margin-right:auto; width: 150px;", remote: true %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td style="margin-top:30px; height:200px; display:block; margin-left:auto; margin-right:auto; width: 150px;">
      <% unless @board.is_ready? %>
          <% link="" %>
          <% if @board.direction && @board.available_ships[0] != 1 %>
              <% link = "/x#{@board.available_ships[0]}0.png" %>
          <% else %>
              <% link = "/x#{@board.available_ships[0]}1.png" %>
          <% end %>

          <%= link_to '#', :onclick => "take_ship()" do %>
              <%= image_tag "#{link}", :class => "ship" %>
          <% end %>
      <% end %>
    </td>
  </tr>
</table>