<%= provide(:title, "Run-up...") %>
<head>
  <script type="text/javascript">
      function take_ship(){
          $(document).mousemove(function(e) {
              $('.ship').offset({
                  left: e.pageX-10,
                  top: e.pageY+5
              });
              document.getElementById('header').innerHTML = "Choose the top left coordinate for a given ship";
          });
      }
  </script>
</head>
<div id="board_area">
  <%= render 'board_area' %>
</div>
<% if @saved_boards.size > 1 %>
    <div id="saved" class="centered" style="width: 300px;">
      <h5 style="text-align:center;">Other saved positions:</h5>
      <%= render partial: "players/saved_boards", collection: @saved_boards, as: :board, :locals => {:current_board_id => @board.id } %>
    </div>
<% end %>