<%= provide(:title, "Run-up...") %>
<head>
  <script type="text/javascript">
      function take_ship(){
          $(document).mousemove(function(e) {
              $('.ship').offset({
                  left: e.pageX-10,
                  top: e.pageY+5
              });
              document.getElementById('header').innerHTML = "Choose the top left coordinate for a given ship";
          });
      }
  </script>
</head>
<div id="board_area">
  <%= render 'board_area' %>
</div>
<% if @saved_boards.any? %>
    <div id="saved" class="centered" style="width: 300px;">
      <%= render 'players/saved_boards', boards: @saved_boards %>
    </div>
<% end %>