<h5 style="text-align:center;">Saved positions</h5>
<table class="centered-table">
  <tbody>
  <% i=1 %>
  <% boards.each do |board| %>
      <tr>
        <td>
          <%= i %>
          <% i += 1 %>
        </td>
        <td>
          <%= link_to "#{board.title}", board %>
        </td>
        <td>
          <span class="timestamp-bright">
            <%= board.created_at.strftime("%d %b. %Y") %>
          </span>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>