<table class="centered-table">
  <tbody>
  <tr>
    <% unless current_board_id == board.id %>
        <td>
          <%= link_to "#{board.title}", board %>
        </td>
        <td>
          <span class="timestamp-bright">
            <%= board.created_at.strftime("%d %b. %Y") %>
          </span>
        </td>
    <% end %>
  </tr>
  </tbody>
</table>
