<% provide(:title, "Edit profile") %>
<h1>Update your profile</h1>

<%= form_for(@player) do |f| %>
    <%= render 'fields', f: f %>
    <%= f.submit "Update", class: 'Button' %>
<% end %>

<div style="margin-left:15px;">
  <%= button_to "Delete my account", @player, method: :delete, data: { confirm: "Are you sure?" }, :class => "btn btn-mini btn-danger" %>
</div>