<% provide(:title, 'Sign Up') %>
<h1>Sign Up</h1>
<div class="session-form">
  <%= form_for(@player) do |f| %>

      <%= render 'fields', f: f %>

      <div class="text-center">
        <%= f.submit "Register", class: "btn btn-success" %>
      </div>

  <% end %>
</div>

<p>Already a member? <%= link_to "Sign in.", signin_path %></p>