<% provide(:title, 'Sign Up') %>
<h1>Sign Up</h1>
<div class="row">
  <%= form_for(@player) do |f| %>

      <%= render 'fields', f: f %>

      <%= f.submit "Register", class: "Button" %>

  <% end %>
</div>

<p>Already a member? <%= link_to "Sign in.", signin_path %></p>