<%= provide(:title, "#{@player.name}") %>
<% if current_player == @player %>
    <h1>My profile</h1>
<% else %>
    <h1><%= @player.name %> profile</h1>
<% end %>
<div class="row">
  <aside class="span4">
    <section>
      <%= render "shared/player_info" %>
    </section>
  </aside>
  <div class="span6">
    <%= render "shared/player_games" %>
  </div>
</div>