@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$grayLight: #999;
$grayDarker: #222;
$grayLighter: #eee;
$blue: #049cdb;



@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

p {
  text-indent: 15px;
  font-size: 1.1em;
  line-height: 1.7em;
}

body {
  background-image: image-url('background.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #131313;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.right {
  float: right;
  height: 50%;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

h4 {
  text-align: center;
}

h5 {
  padding-left: 8px;
}

/* header */

.logo{
  position: absolute;
  z-index: 1000;
}

.login-button {
  background: url(logo.png);
}

/* Home page */
.inline-list {
  display: table; margin:
        10px auto;
}
.inline-list li {
  float: left;
  list-style: none;
  margin-left: 5px;
  padding: 5px 0;
}

.black_overlay{
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index:1001;
  -moz-opacity: 0.8;
  opacity:.80;
  filter: alpha(opacity=80);
}

.white_content {
  display: none;
  position: absolute;
  top: 15%;
  left: 20%;
  width: auto !important;
  height: 80%;
  padding: 16px;
  border: 2px solid grey;
  background-color: white;
  z-index:1002;
  overflow: auto;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid #eaeaea;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid #eaeaea;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.player_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.session-form {
  width: 400px;
  margin-left:auto;
  margin-right:auto;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

#notice {
  padding-left: 100px;
  margin: 50px;
}

.field_with_errors {
  @extend .has-error;
}

.control-group{
  margin-bottom:15px
}

.Button{
  width: 100px !important;
  display:block;
  marghin-left: auto;
  marghin-right: auto;
  -webkit-appearance:none;
  background:transparent;
  border-color:currentcolor;
  border-style:solid;
  border-width:1px;
  color:inherit;
  font:inherit;
  line-height:normal;
  padding:.4em .75em;
  text-align:center;
  text-decoration:none;
  user-select:none;
  white-space:normal;
}

/* Players & players index */

.centered-table {
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  padding: 5px;
  width: 100%;
  th, td, tr {
    text-align: center;
    border-bottom: 1px solid #DDD;
    padding: 5px;
  }
  tr:hover {
    background-color:$grayMediumLight;
  }
  th:hover{
    background-color:transparent;
  }
}

.delete-link {
  color:red;
  &:hover {
    color:red;
  }
}

.delete-link hover {
  color:red;
}

.dataTables_filter{
  width: 50%;
}

table#players tbody td {
  height:10px;
}

/* Game specific */

.style_img {
  display:block;
  width: 75px;
}

.board {
  border: 1px solid grey;
  background-color: #cfcbcb;
}
.board:hover{
  background-color: grey;
}

.highlight{
  background-color: grey;
}

.board_container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  width: 330px;
}

.hit {
  font-family: Arial, "Arial (Hebrew)", "David (Hebrew)";
  font-size:20px;
  color: red;
  width: 28px;
  height: 28px;
  border: 3px solid transparent;
}

.miss {
  text-align: center;
  vertical-align: middle;
  font-family: Arial, "Arial (Hebrew)", "David (Hebrew)";
  font-size: 20px;
  color: blue;
  width: 28px;
  height: 28px;
  border: 3px solid transparent;
}

.sunk {
  font-family: Arial, "Arial (Hebrew)", "David (Hebrew)";
  font-size:20px;
  color: red;
  width: 28px;
  height: 28px;
  border: 3px solid black;
}

.game-log {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

/* Board */

.ship{
  margin-left:5%;
}

.bull {
  text-align: center;
  vertical-align: middle;
  font-family: Arial, "Arial (Hebrew)", "David (Hebrew)";
  font-size: 20px;
  color: blue;
  width: 30px;
  height: 30px;
  border: 3px solid transparent;
}

/* newsposts */

.newsposts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.title {
  font-size:20px;
  padding-left:10px;
}
.post-body {
  display: block;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: justify;
}
.timestamp {
  color: #eaeaea;
  font-size:1em;
  text-align:right;
  padding-right:5px;
  font-style: italic;
}
.timestamp-bright {
  font-size:1em;
  text-align:center;
  font-style:italic;
}

/* Comments */

.comments {
  list-style: none;
  margin: 10px 0 0 0;
  text-align: left;

  li {
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: black;
}

.countdown {
  display: inline;
  color: black;
}

/* pagination */

.pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default; }
.pagination a, .pagination span {
  padding: 0.2em 0.3em; }
.pagination .disabled {
  color: #aaaaaa; }
.pagination .current {
  font-style: normal;
  font-weight: bold;
  background-color: #bebebe;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.5;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
.pagination a {
  text-decoration: none;
  color: black; }
.pagination a:hover, .pagination a:focus {
  text-decoration: underline; }