@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$grayLight: #999;
$grayDarker: #222;
$grayLighter: #eee;
$blue: #049cdb;



@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Application Layout */

table.main_container {
  background-color:#FFF;
  width:70%;
  height:500px;
  margin-left:auto;
  margin-right:auto;
  table-layout:fixed;
  overflow: hidden;
  border-radius: 5px;
}

.left_sb {
  width: 150px;
  vertical-align: top;
  border-right: 1px solid grey;
  padding:5px;
}

.page_content {
  width:781px;
  vertical-align: top;
  margin-left:auto;
  margin-right:auto;
  padding:5px;
}

.right_sb {
  width:150px;
  vertical-align: top;
  margin-right:0;
  border-left: 1px solid grey;
  padding:5px;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  background-image: image-url('background.jpg');
  background-size: 100%;
  background-color: #5c5e50;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

h4 {
  text-align: center;
}

h5 {
  padding-left: 8px;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.navbar-text {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  padding-top: 10px
}

.logo{
  position: absolute;
}

.login-button {
  background: url(logo.png);
}

/* footer */

footer {
  margin-top: 10px;
  padding: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
  }
}

.player_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}


/* forms */

input {
  height: auto !important;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 50%;
  margin-bottom: 15px;
  @include box_sizing;
  margin-right: auto;
  margin-left: auto;
}

label{
  float:left;
  clear: left;
  width:30%;
  padding-right:10px;
  padding-top:5px;
  text-align:right;
  margin:0;
  font-size:13px;
  line-height:20px;
  border-bottom:0;
  overflow: hidden;
}

.search-input{
  width: 100%;
  line-height: 1
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

#notice {
  padding-left: 100px;
  margin: 50px;
}

.field_with_errors {
  @extend .has-error;
}

.control-group{
  margin-bottom:15px
}

.Button{
  -webkit-appearance:none;
  background:transparent;
  border-color:currentcolor;
  border-style:solid;
  border-width:1px;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  color:inherit;
  cursor:pointer;
  display:block;
  margin:0 auto;
  font:inherit;
  line-height:normal;
  padding:.4em .75em;
  position:relative;
  text-align:center;
  text-decoration:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  white-space:normal
}

/* Players index */

.delete-link {
  color:red;
  &:hover {
    color:red;
  }
}

.delete-link hover {
  color:red;
}

.dataTables_filter{
  width: 50%;
}

table#players tbody td {
  height:10px;
}

/* Game specific */

.style_img {
  display:block;
  width: 75px;
}

.board {
  border: 1px solid grey;
  background-color: #cfcbcb
}

.board_container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  text-align: center;
}

textarea {
  display: block;
  margin-left: auto;
  margin-right: auto;
}