<table class="table table-striped">
  <thead>
  <th style="text-align:center;" colspan='2'>Best Players</th>
  </thead>
  <% i = 1 %>
  <% top_players.each do |p| %>
      <tr>
        <td>
          <%= i %>. <%= link_to "#{p.name}", player_path(p) %>
        </td>
        <td>
          <small><strong><%= "#{p.rating}" %> pts.</strong></small>
        </td>
      </tr>
      <% i += 1 %>
  <% end %>
</table>