<% if online_players.any? %>
    <h5 style="text-align:center;">Now online</h5>
    <ul>
      <% online_players.each do |p| %>
          <li style="color:green;">
            <% if p.admin %>
                <b><%= link_to "#{p.name}", player_path(p) %></b>
            <% else %>
                <%= link_to "#{p.name}", player_path(p) %>
            <% end %>
          </li>
      <% end %>
    </ul>
    <hr>
<% end %>

<h5 style="text-align:center;">Latest games</h5>
<% if latest_games.any? %>
    <ul>
      <% latest_games.each do |g| %>
          <li style="list-style:none;margin-top:5px;">
            <%= link_to g.title, g %>
          </li>
      <% end %>
    </ul>
<% else %>
    <p class="center">None</p>
<% end %>